    * {
  -webkit-font-smoothing: antialiased;
}

:root {
  --box-shadow-right1: #3102e142;
  --box-shadow-right2: #e275fd;
  --box-shadow-right3: #8d9d9f9e;
  --box-shadow-left1: #b4ff5036;
  --box-shadow-left2: #fcff43b3;
  --box-shadow-left3: #4c4c2e66;
  --box-shadow-buttons1: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  --box-shadow-buttons2: inset 0 -10em 0em rgb(135 138 149 / 16%), 0 -6em 5em 5px rgb(255 255 255 / 13%), 8.3em 0.3em 22em rgb(179 253 84 / 6%);
  --box-shadow-buttons3: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .4px rgb(255, 255, 255), 0.2em 0.2em .7em rgba(0, 0, 0, 0.2);
  --box-shadow-buttons4: inset 0 -2em 1em rgb(88 145 225 / 10%), 0 -6em 29em 1px rgb(255, 255, 255), 0.2em 0em 1em rgba(10000, 0, 0, 0.2);
  --box-shadow-buttons5: inset 0 -2em 0em rgb(88 145 225 / 5%), 0 -17em 29em 1px rgb(255, 255, 255), 40.8em 0em 4em rgba(10000, 0, 0, 5);
  --box-shadow-buttons7: inset 0 -10em 0em rgb(135 138 149 / 0%), 0 -6em 5em 5px rgb(255 255 255 / 0%), 8.3em 0.3em 22em rgb(179 253 84 / 76%);
  --button-hover1: #f1dfae5e;
  --button-hover2: #e04a8b4f;
  --button-color1: #ff0083b0;
  --button-color2: #b4ff50;
  --button-color3: #d7ff44;
  --button-color4: #4befa366;
  --button-color3lessopacity:#d7ff447e;
  --button-color3lessopacity2:#d7ff44c4; 
  --body-background-color-darkblue: #0f1032;
  --body-background-color-greypink: #877e85;
  --body-background-color-greygreen: #5d6864;
  --body-background-color-blue: #3102e1;
  --body-background-color-lightgrey: #a1a1a1;
  --body-background-color-lightgrey2: #95868c;
  --body-background-color-pink: #cd999961;
  --body-background-color-darkblue: #161a30;
  --body-background-color-bright: #fffafa;
  --font-color1: #ff0000;
  --font-color2: #2e0046;
  --font-color3: #f5ff649c;
  --font-color4: #e6ffc4;
  --font-color5: #0028dd;
  --font-color6: #303022;
  --accent: #b4ff50;
  --accent2: #d7ddff;
  --header: #8d8d8d;
  --header2: #509fff;
  --header3: #8d9d9f;
  --footer: #494949;
  --footer2: #0f1032;
  --footer3: #000000;
  --footer4:#8b7a7a;
  --footer5:#797474;
  --footer6:#e9ecef;
  --font-family1: 'Mulish', sans-serif;
  --font-family1mulish_semibold: 'Mulish', sans-serif;
  --background-opaque1:#00000080;
  --background-opaque2:#0403157d;
  --background-opaque3:#120b7f7d;
}

body {
  /* background-color: var(--font-color5); */
  /* background-color: #0028dd1f; */
  background-color: white;
  margin: 9px;
}

.main-div {
  text-align: center;
  border-radius: 40px;
  padding: 6px;
  margin-bottom: 350px;
  background-color: #a9d0b529;
  /* box-shadow: var(--box-shadow-buttons7); */
}

#body {
  max-width: 100%;
  margin-top: 131px;
  border-radius: 40px;
}

#body:hover {
  color: #000000;
  cursor: pointer;
}

header {
  /* background-color: #ffffff;
  top: 0; */
  position: sticky;
  /* cursor: pointer; */
  font-family: var(--font-family1);
  /* box-shadow: var(--box-shadow-buttons2);
  border-radius: 34px; */
  margin-top: 10px;
}

h1 {
  overflow: hidden;
  padding: 20px;
  /* color: #ffcc02; */
  /* color: #0f1032; */
  color: white;
  font-size: 2.2rem;
  line-height: 0.9;
  font-weight: 600;
  text-decoration: underline;
}


/*__________BUTTONS_________*/

.button-class {
  border-radius: 4vh;
  box-shadow: var(--box-shadow-buttons3);
  /* padding: 12px; */
  font-family: var(--font-family1);
  font-weight: 400;
  line-height: 3.8;
  font-size: 16px;
  background-color: #ffffff66;
  color: #0f1032;
 }

.button-class:hover {
  cursor: pointer;
}

.button-class:visited {
  color: var(--font-color4);
  font-weight: 900;
  font-size: 11px;
  font-style: normal;
}

.button-class:focus {
  background-color:#4c4c2e66;
  color: #343a40;
  font-weight: 900;
  font-style: italic;
}

.button-class:active {
  color: #343a40;
  font-weight: 900;
  font-style: normal;
}

.all-pokes {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 37px auto;
  padding: 1px;
}

li {
  flex-basis: auto;
  flex-shrink: 5;
  border-top-width: 0px;
  border-top-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  list-style-type: none;
  margin: 14px auto;
  /* padding: 20px; */
  font-family: var(--font-family1);
  font-weight: 200;
}

/*________Marquee_________ */

@keyframes marquee {
  0% {
    text-indent: 200vh
  }

  100% {
    text-indent: -200vh
  }
}

.marquee {
  display: block;
  padding: 1px;
  white-space: nowrap;
  animation: marquee 17s linear infinite;
  position: relative;
  width: 100%;
  border-radius: 0px;
  /* color:var(--footer6); */
  font-family: var(--font-family1);
  z-index: 5;
  background: -webkit-linear-gradient(#ff3209, #ffcc02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#background-color {
  /* background-color: var(--box-shadow-left1); */
  position: relative;
  border-radius: 40px;
  box-shadow: inset -0.1em 0.1em 0.5em var(--box-shadow-right1),
    inset 0.1em 0.1em 0.6em var(--box-shadow-left1);
}

.about-picture {
  display: grid;
  max-width: 269px;
  margin: 0 auto;
  padding: 20px;
}

/* p {
  transition: 0.2s;
  padding: 58px;
  font-family: var(--font-family1);
  font-weight: 600;
  color: var(--font-color2);
  text-align: center;
  border-radius: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
  line-height: 1.4;
} */

p {
  margin-top: 0;
}

footer {
  background-color: var(--footer3);
  display: inline;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 9px;
}

.list-group-item {
  background-color: #87878700;
  border:none;
}

.btn-primary {
  border-color: var(--body-background-color-lightgrey);
  background-color: #495057;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: var(--dark);
  background-color: var(--body-background-color-greypink);
  border-color: var(--font-color7);
}

/* ____________ media queries ______________________________________________________
*/

@media all and (max-width: 500px) {

}

@media all and (min-width: 500px) and (max-width: 750px) {
  
}

@media all and (max-width: 750px) {
} 


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color:#000;
}

.navbar-dark .navbar-nav .nav-link {
  color:#000;
}

a.nav-link {
  color:#ffcc02;
}

.navbar-brand {
  color:rgb(3 10 67 / 90%);
  padding-top: 0.8125rem;
}

.modal-body {
  /* color: #0047ff; */
  color: black;
  padding: 20px;
}

.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border: 0px;
}

.btn {
  border: 1px solid var(--body-background-color-lightgrey);
}

 .btn:hover {
  color: var(--button-color2);
	text-decoration: none;
  cursor: pointer;
} 

.modal-content {
  max-height: 90vh;
  overflow-y: auto;
  /* background-image: url("https://razukraski.com/%D1%80%D0%B0%D1%81%D0%BA%D1%80%D0%B0%D1%81%D0%BA%D0%B82/pokemon/%D0%B2%D0%B5%D1%80%D1%82/razukraski-com-pokemon%20(10).jpg"); 
  */
  background-color: #cccccc;
  background-image: radial-gradient(red, yellow);
}

.fixed-top {
  /* background-color: #e0e6f6; */
  background-color: white;
}


/*search bart
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#myUL {
 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; /
  padding: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  color: black; 
  display: block; 
}

#myUL li a:hover:not(.header) {
  background-color: #eee;   
} */


.navbar-text {
  display: inline;
}


@media (min-width: 768px) {
.navbar-expand-md .navbar-collapse {
  display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
}}

.fade {
  transition: opacity .07s linear;
}

.main-h1 {
  color:#0f1032;
  text-decoration: none;
}